<div ng-cloak class="card cfh-black gaming-container" id="" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'">
  <div class='hand card-container'>
    <span ng-show="winnerPicked()"></span>

    <div ng-style="{'cursor':'pointer'}" class="gaming-card smallest" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
    ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
        <span ng-bind-html-unsafe="card.text"></span>
        <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
        <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
    </div>

    <span ng-repeat="answer in game.table">
        <div class="gaming-card smallest" ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
        ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="background-color:{{winningColor($parent.$index)}}">
            <span ng-bind-html-unsafe="card.text"></span>
            <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
            <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
        </div>
    </span>
  </div>
</div>

<div class="card cfh-black longSpan" id="info-container" ng-show="game.state === 'awaiting players'">
  <div class="card-content white-text no-padding-top">
    <br/>
    <h5 class="center-align" id="lobby-how-to-play">How To Play</h5>
    <ol class="ol-eh instruction-text">
      <li>Each player begins with, and will always have, 10 white answer cards.</li>
      <li>For each round, one player is randomly chosen as the Card Czar.</li>
      <li>Everyone else answers the black question card by clicking on the answer card they want to use.</li>
      <li>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</li>
      <li>*Want to adorn your avatar with a glorious crown? Donate to charity after the game!</li>
    </ol>

    <div id='charity-fact-container' class="card col s12">
      <div class="card-content black-text">
        <p class="question center-align">Please remember to donate to save a child!</p>
          <br/>
          <p class="center-align">
            <a class="btn-flat home-button1 waves-effect waves-light" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity/0">
                Make a Donation
            </a>
          </p>
      </div>
    </div>
  </div>
</div>

<div class="card cfh-black longSpan" id="game-end-container" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
  <div class="card-content white-text no-padding-top">
    <div class="col s12 m8" id="inner-info-exit">
      <br/>
      <div class="game-end-answer-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <h5>What would you like to do now?</h5>
        <p class="normal-text">
          You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
        </p>
      </div>
      <div class="game-end-answer-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1">
        <h5>What would you like to do now?</h5>
        <p class="normal-text">
          Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
        </p>
      </div>
      <br/>
      <br/>
      <div id='inner-text-container'>
        <a href='/#!/app' class="btn btn-flat home-button21 black-text waves-effect waves-light">
          <div id="join-new-game" ng-click="game.joinGame('joinNewGame')">
            Join a New Game
          </div>
        </a>
        <a href='/' class="btn btn-flat home-button1 black-text waves-effect waves-light">
          <div id="exit-match">
            Return to Lobby
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col s12 m4 center-align">
      <!-- This is real -->
      <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
      <a href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity/0">
        <img class="donate" src="../img/donate.png">
      </a>
      <!-- This is for testing -->
      <!-- <a href="http://www.crowdrise.com" id="crowdriseStaticLink-project-36715" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a> -->
      <!-- <script type="text/javascript" src="https://apisandbox.crowdrise.com/widgets/donate/project/36715/?callback=userDonationCb"></script> -->
  </div>
</div>

<div class="card cfh-black longSpan czar-blank-container" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
  <div class="card-content white-text no-padding-top">
    <br/>
    <h5 center-align>You are the Card CZAR</h5>
    <span class="normal-text">Players are choosing their answers. Prepare to select a winner.</span>

    <div id='charity-fact-container' class="card col s12">
      <div class="card-content black-text">
        <p class="question">Did you know?</p>
        <p>{{ makeAWishFact }}</p>
        <br/>
        <p>
          <img src='/img/make-a-wish-logo.png'/>
        </p>
      </div>
    </div>
  </div>
</div>
