<div class="players-col">
  <div class="col s12 no-padding-top" ng-repeat="player in game.players">
    <div class="card players-layout" style="background-color:{{isPlayer($index) && colors[player.color]}}">
      <div class="card-content no-padding-top">
        <div id="czar-container" ng-show="currentCzar($index)">
          <span id='the-czar'>CZAR</span>
        </div>
        <span ng-show="isPlayer($index)" id="player-star">
          <img src="../img/11.png"/>
        </span>
        <div class="col s3">
          <div id="avatar-img">
            <span ng-show="isPremium($index)">
              <img ng-src="img/king.png" id="king">
            </span>
            <img class="avatar-icon" ng-src="{{player.avatar}}"/>
          </div>
        </div>
        <div class="col s9">
          <p class="player-name">{{player.username | upperFirstLetter}}</p>
          <p class="player-score">{{player.points}}/{{game.pointLimit}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
