<div class="col s6 m4 l6" ng-repeat="player in game.players">
  <div class="card fixed-height-200" style="background-color:{{colors[player.color]}}">
    <div class="card-content players-layout center-align">
      <div id="czar-container" ng-show="currentCzar($index)">
        <span id='the-czar'>CZAR</span>
      </div>
      <div id="avatar-img">
        <span ng-show="isPremium($index)">
          <img ng-src="img/king.png" id="king">
        </span>
        <img class="avatar-icon" ng-src="{{player.avatar}}"/>
      </div>
      <p class="player-name">{{player.username | upperFirstLetter}}</p>
      <p class="player-score">{{player.points}}/{{game.pointLimit}}
        <span ng-show="isPlayer($index)" id="player-star">
          <img src="../img/11.png"/>
        </span>
      </p>
    </div>
  </div>
</div>
