<div class="card grey fixed-height-230">
  <div class="card-content center-align">
    <h1 class="countdown-timer" ng-bind="game.time"></h1>
    <p>
      <span ng-hide="game.state === 'winner has been chosen' || game.state === 'waiting for czar to decide'">
        Time Remaining
      </span>
      <span id="timer-status-czar-choosing" ng-show="game.state === 'winner has been chosen'"> Next Round In</span>
      <span id="timer-status-czar-choosing" ng-show="game.state === 'waiting for czar to decide'"> Czar Choosing</span>
    </p>
  </div>
</div>
