.introjs-bullets {
  color: red !important;
}

.introjs-showElement, .introjs-helperNumberLayer {
  background-color: #2B5E7A !important;
}

#introjs-cfh {
  color: #C05A3D
}

.introjs-tooltiptext {
  color: #2B5E7A !important;
}
