  .clear {
   clear:both;
 }

 .uppercase {
   text-transform: uppercase;
 }

 /* .playModal{
   margin-left: 12%;
 } */

 .modal{
   z-index: 300px !important;
   margin-top: 150px;
   border-radius: 12px;
   box-shadow: 10px 10px 5px #888888;
   background-color: rgba(255,162,52,0.8);
   color: white;
   width: 40% !important ; 
   
   
   
  }
  #modalTitle{
    font-family: Berkshire Swash;

  }
  a .modal-close{
    color:orange accent-4;
  }
  

 #landing-charity {
   width: 300px !important;
   margin-left: 15px !important;
   max-width: 100% !important;
   position: relative !important;
   float: left !important;
   top: -65px;
}

#tweet-container-index{
   margin-top: 10px;
   display: inline-block;
   position: relative;
   top: 5px;
}

#twitter-facebook{
   display: block;
}

#send-link{
   color: white;
   text-align: center;
   display: block;
   margin-bottom: 10px;
}

#facebook-share{
   font-size: 12px;
   padding: 3px;
   background: white;
   border-radius: 3px;
   margin-left: 10px;
   background-color: #f8f8f8;
   background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
   background-image: -moz-linear-gradient(top,#fff,#dedede);
   background-image: -o-linear-gradient(top,#fff,#dedede);
   background-image: -ms-linear-gradient(top,#fff,#dedede);
   background-image: linear-gradient(top,#fff,#dedede);
   border: #ccc solid 1px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   color: #333;
   font-weight: bold;
   text-shadow: 0 1px 0 rgba(255,255,255,.5);
   -webkit-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: pointer;
}

#facebook-share a{
   color: #333;
}

.some-text {
   text-align: center;
   color: white;
   max-width: 800px;
   margin: 0 30px;
}

#give {
   color: white;
   text-align: center;
}

#info-box {
   margin-top: 25px;
   margin-left: 10%;
}

#wish {
   max-width: 25%;
}


@media(min-width: 400px) and (max-width: 950px) {
   .some-text {
      text-align: center;
      float: left;
      margin-top: -50px;
   }

   #info-box {
      margin-left: 0%;
   }

   #landing-charity {
      width: 67%!important;
      margin-left: 21% !important;
      max-width: 100% !important;
      float: left !important;
      top: -65px;
   }
}

@media (max-width: 400px) {
   #landing-charity {
      margin-bottom: -60px;
   }

   #info-box {
      margin-left: 0%;
   }

   .some-text {
      margin: 0;
   }
}

.sign-error {
   text-align: center;
   color: white;
   font-family: arial;
   margin-bottom: -13px;
}


 /**** Links ****/
 a {
   color: #60B197;
   -webkit-transition: color 0.5s ease;
   -moz-transition: color 0.5s ease;
   -ms-transition: color 0.5s ease;
   -o-transition:  color 0.5s ease;
   transition:  color 0.5s ease;
 }

 a:hover {
   text-decoration: none;
   color: #2ecc71;
   border-radius:0px !important;
 }

 p a {
   color: #60B197;
 }

 p a:hover {
   color: #2ecc71;
 }


 /**** Top Bar ****/
#menu-container {
   width: 100%;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   background: #252525;
   margin: 10px 0;
   padding: 5px;
}

#landing-logo {
   margin: 5px 0 5px 0px;
   font-size: 28px;
   font-family: 'Lobster', cursive;
   border-radius: 8px;
   background: #252525;
   padding: 5px 5px 5px 13px;
}

#first-word {
   color: #7CE4E8;
}

#second-word {
   color: #FFFFA5;
}

#third-word {
   color: #FC575E;
}

#warning-word {
   color: #FC575E;
}

.wpb-top-bar {
   height: 60px;
   background: transparent;
   position: fixed;
   top:0;
   width: 100%;
   z-index:10000;
   max-width: 1400px;
}

.wpb-logo-container {
   color: #fff;
   font-weight: bold;
   font-size: 11px;
   max-width: 100%;
   margin-right: 9px;
}

 .wpb-logo-container a {
   color: #ffffff !important;
 }


 .wpb-menu-container {
   float: right;
 }

 .wpb-menu-container .wpb-dropdown-menu {
   display: none;
   margin-top: 35px;
   text-align: center;
   float: right;
 }

 .wpb-menu-container .wpb-main-menu {
   list-style: none;
   margin: 0;
   text-align: right;
   height: 100px;
   margin-top: -77px;
   margin-right: 35px;
 }

 .wpb-menu-container .wpb-main-menu li {
   display: inline-block;
   height: 100%;
   position: relative;
   cursor: pointer;
 }

  .wpb-menu-container .wpb-main-menu li a:hover {
   color: #2ECC71 !important;
   -webkit-transition: color 0.5s ease;
   -moz-transition: color 0.5s ease;
   -ms-transition: color 0.5s ease;
   -o-transition:  color 0.5s ease;
   transition:  color 0.5s ease;
 }

 .wpb-menu-container .wpb-main-menu li a {
   display: block;
   height: 100%;
   line-height: 100px;
   font-weight: bold;
   color: white;
   padding: 0px 10px;
   -webkit-transition: color 0.5s ease;
   -moz-transition: color 0.5s ease;
   -ms-transition: color 0.5s ease;
   -o-transition:  color 0.5s ease;
   transition:  color 0.5s ease;
   text-transform: uppercase;
   position: relative;
   z-index:1000;
 }


 /**** LANDING ****/

 #main-text {
   margin: 5px;
 }

 #avatars {
   width: 100%;
   margin-top: -11%;
   margin-bottom: 3%;
 }

 #avatar-face {
   width: 8.3%;
 }

 .wpb-teaser {
   min-height: 450px;
   position: relative;
   z-index:990;
   width: 90%;
   margin: 0px auto;
   border-radius: 8px;
   margin-top: 70px;
   padding: 30px;
 }

 .wpb-teaser .background-opacity {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   min-height: 100%;
   z-index:999;
   background: #252525;
   border-radius: 8px;
   padding: 20px;
 }

 .wpb-teaser .container {
   position: relative;
   z-index:1000;
   padding-top: 120px;
 }

 .wpb-teaser .modified-container {
   position: relative;
   z-index: 1000;
 }

 .wpb-teaser .wpb-slogan h2 {
   color: #fff;
   font-weight: bold;
   font-size: 52px;
   text-transform: uppercase;
   line-height: 60px;
   text-align: center;
 }

 #slogan {
   text-align: center;
   color: white;
 }

 .wpb-teaser .wpb-text p {
   color: #fff;
   padding-top: 15px;
   text-align: center;
   font-size: 1.15em;
   margin: 0 auto;
   width: 84%;
   max-width: 585px;
   padding-bottom: 20px;
 }

#navver {
   height: 60px;
}


 /**** Section Title ****/
 .wpb-section-title {
   background-color: #24272a;
   height: 100px;
 }

 .wpb-section-title .wpb-title {
   color: #fff;
   font-size: 32px;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 100px;
 }

 .wpb-section-title .wpb-title-description {
   color: #515e65;
   font-size: 14px;
   text-transform: none;
   padding-left: 5px;
   line-height: 100px;
   display: inline-block;
   vertical-align: top;
 }

 #create {
    text-align: center;
    color: white;
    font-family: arial;
    margin-bottom: -13px;
 }

 #sign-up-btn-landing {
   display: inline-block;
   border-radius: 8px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   font-size: 20px;
   font-size: 2em;
   font-weight: 400;
   text-align: center;
   color: white;
   background: #C54141;
   margin-top: 3px;
   margin-bottom: 3px;
   margin-right: 10px;
   padding: 0.65em 35px;
   cursor: pointer;
 }

  #sign-up-btn-other {
   display: inline-block;
   border-radius: 8px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   font-size: 20px;
   font-size: 1.35em;
   font-weight: 400;
   text-align: center;
   color: white;
   background: #C54141;
   margin-top: 3px;
   margin-bottom: 3px;
   margin-right: 10px;
   padding: 0.1em 35px;
   cursor: pointer;
 }

 /**** About Us ****/
 #main-bod {
   max-width: 1400px;
   margin: 0px auto;
}

 .wpb-about-us {
   background-color: #fff;
   margin-top: 9%;
 }

 #team-photo {
   max-width: 84% !important;
   width: 84%;
   margin: 0 8%;
 }

  #gitcat {
   max-width: 50px !important;
   padding-right: 10px;
 }

 #login-buttons {
   text-align: center;
 }

 .login-item {
   max-width: 48%;
 }

 .input-info {
   max-width: 100%;
 }

 #how-to {
   max-width: 1400px;
   margin-top: -15px;
 }

 #how-to-play {
   margin-top: 190px;
 }

 #how-to-cards {
   text-align: center;
 }

 #how-to-container {
   padding-top: 0;
 }

 #card-list {
   margin-bottom: 15px;
 }

 #directions {
   font-family: 'Lobster', cursive;
   color: #FC575E;
 }

 .sign-body {
   text-align: center;
 }

 #sign-up {
   text-align: center;
 }

#sign-up-text {
   margin: 0px auto;
   font-size: 18px;
   font-family: 'Lobster', cursive;
   border-radius: 8px;
   background: #252525;
   margin-left: 40px;
   overflow: hidden;
}

.sign-in-header {
   color: #fff;
   font-weight: bold;
   font-size: 52px;
   text-transform: uppercase;
   line-height: 60px;
   text-align: center;
   margin-bottom: -15px;
}

.top-margin {
   margin-top: 15px;
}

 #team {
   max-width: 1400px;
 }

 .floater {
   margin-top: 0px !important;
   float: right;
}

/*crowdwise colour scheme*/
c{
  color: #ef6c00;
}

/* parallax background styles*/
.parallax-container {
  min-height: 750px !important;
  height: 100%;
}

/* navigation menus */
nav{
 background:none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nav-wrapper ul li a{
  color: white;
}
.nav-wrapper ul li a:hover{
  color: white  !important;
}

.side-nav li a{
  color: white !important;
}

.side-nav {
  background-color: #ef6c00 !important;
}

/*landing home*/
.joker img{
   margin-top: 2% !important;
}
.cfh-right img{
  max-width: 400px;
  margin-top: 22% !important;
  }
.intro h5 {
  color: #ef6c00 ;
  margin-top: 5% !important;
  margin: 0.5px;
}

.writing{
  margin-top: 7% !important;
}
.home{
  /* margin-left: 5% !important ; */
  margin-top: 15% !important;
}

/*custom buttons*/
.home-button1{
  background-color: #ef6c00  !important;
  color: white !important;
  border: 2px solid #ef6c00  !important;
}
.home-button1 a:hover {
  background-color: white!important;
  color: #ef6c00  !important;
}

.home-button2{
  background-color: white !important;
  color: black !important;
  border: 2px solid black !important;
}
.home-button21{
  background-color: white !important;
  color: black !important;
  border: 2px solid white !important;
}
.home-button2 a:hover {
  background-color: white!important;
  color: black !important;
}

.btn-flat{
  padding:10.4px 30px !important;
  line-height:26.4px !important;
  height:auto !important;
  overflow: hidden;
}

.btn-flat:hover:before {
  opacity:1;

}

.btn-flat:before {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}


/* how to play div styles*/
.how h3{
  margin-top: 5% !important;
  font-family: Berkshire Swash;

}
.carousel{
height: 800px !important;
margin-top: -250px !important;
margin-left: -68px !important;
}
.carousel-item img{
  height: 500px;
  width: 350px !important;
}
.how-to{
  margin-top: 3% !important;
  margin-bottom: 3% !important;
}
.about h3{
  font-family: Berkshire Swash;
  margin-top: 7% !important;

}
.about-text{
  margin-top: 9% !important;
  color: black;
}
.about-btn{
  margin-top: 6% !important;
}
.about p{
 color: white;

}
.about {
  /* background: rgba(0,0,0, 1); */
  overflow: hidden;
  height: 100%;
  z-index: 2;
  background-image: url("../img/bgcard.jpg");
  background-repeat: repeat;
}
.cfh-warning{
  margin-top: 5% !important;
  margin-bottom: 3% !important;
}
w{
  color:red;
}

/*styles for charity div*/
.charity{
  background-color: black !important;
  padding: 4%;
}
.charity h3{

  font-family: Berkshire Swash;
  /* margin-top: 5% !important; */
}
.charity h5{
  color: white;
  margin-top: 3% !important;
}
.donate{
  margin-top: 15% !important;
}
.charity-desc h5{
  color: white;
 text-align: left;
 line-height: 30px;
 margin-top: 9% !important;
}
.make{
  margin-top: 10% !important;
}

.footer-copyright{
  padding-top: 1%;
  padding-bottom: 0.5%;
}


/* for charity screen responsiveness */
@media screen and (max-width:480px){
  .charity-desc h5{
  text-align: center;
  }
}

/*  Sol's styles */
body, html {
  height:100%;
  margin: 0 !important;
  padding: 0 !important;
  background-image: url("../img/bgcard.jpg");
  background-repeat: repeat;
}

.navbar {
  border-radius: 0px !important;
}

.bright-overlay{
  /* background: #ef6c00; */
  /* background: rgba(21,38,40, 0.8); */
  overflow: auto;
  height: 100%;
  z-index: 2;
  opacity: 1;
}

nav{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.brand-logo {
  word-spacing: -1px;
  letter-spacing: -1px;
  font-family: Berkshire Swash;
  margin-left: 15px !important;
}

.game h5 {
  font-family: Berkshire Swash;

  font-family: Berkshire Swash !important;
}

icon-image img{
  width: 50px;
  height: 50px;

}

.login-form {
  margin-top: 40px !important;
}

.login-form .card-title {
  font-family: Berkshire Swash !important;
  font-size: 30px;
}

.login-form .btn-flat, .login-form .btn-flat:hover{
  background-color: transparent !important;
  color: #ef6c00 !important;
}

.social-links {
  font-size: 18px;
  margin-bottom: 10px !important;
}

.nav-wrapper a:hover {
  color: white !important;
}

@media only screen and (max-width: 480px) {
  .login-form {
    margin-top: 5px !important;
  }

  nav .brand-logo {
    font-size: 1.5rem !important;
  }
}

/***** Form Customization  *******/
/* label color */
   /* label focus color */
.input-field input:focus {
  border-bottom: 1px solid #002 !important;
  box-shadow: 0 1px 0 0 #002 !important;
  color: #002;
  font-size: 14px;
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
color: #002 !important;
}

.icon-image img {
  margin-left: 5px !important;
  margin-right: 5px !important;
  width: 30px !important;
  height: 30px !important;
}

input[type="radio"] {
  position:relative !important;
  opacity: 1 !important;
  pointer-events: all !important;
}

/*** New Styles ***/
.countdown-timer {
  font-size: 100px;
  color: #000000;
}

.players-layout{
  position: relative !important;
  overflow-y: auto;
  padding: 5px 0;
  margin: 0 !important;
  border-radius: 0px !important
}

.fixed-height-230 {
  height: 230px;
  overflow: scroll !important;
}

.fixed-height-200 {
  height: 170px;
  overflow: hidden !important;
}

.question {
  font-size: 140%;
}

.no-padding-top {
  padding-top: 2px !important;
}

.notifcations{
  font-size: 130%;
}

.small-text{
  font-size: 110%;
}

.instruction-text li {
  font-size: 130%;
  list-style: decimal !important;
}

.player-name, .player-score {
  font-size: 18px;
}

.longSpan {
  min-height: 400px;
  overflow: auto;
}

#app-container .row {
  margin-bottom: 5px !important;
}

.card-container{
  margin: 0 auto !important;
}

.gaming-card {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 17.8%;
  height: 205px;
  padding: 1%;
  margin: 1%;
  background-color: #fff;
  color: #252525;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top; }
  @media (max-width: 520px) {
    .gaming-card {
      font-size: 16px;
      height: 115px;
      word-wrap: break-word; } }
  .gaming-card.how-to {
    font-size: 1.4rem; }
  .gaming-card #selection-number {
    position: absolute;
    bottom: 1px;
    left: 7px;
    font-size: 14px; }
  .gaming-card.black {
    background: #252525;
    border-color: white;
    color: white; }
  .gaming-card.longBlack {
    background: #252525;
    border-color: white;
    color: white;
    height: 100%;
    width: 35.5em;
    padding-left: 2%;
    padding-right: 2%; }
  .gaming-card.smallest {
    font-size: 1em; }
    @media (max-width: 520px) {
      .card.smallest {
        font-size: 14px; } }
  .gaming-card u {
    position: relative;
    content: '';
    display: inline-block;
    width: 25%;
    text-decoration: none;
    height: 1em;
    border-bottom: 0.125em solid white;
    margin-bottom: -0.125em; }
    .gaming-card u .small {
      width: 25%; }
    .gaming-card u .big {
      width: 75%; }
    .gaming-card u .end:after {
      position: absolute;
      right: -0.357em;
      display: inline-block;
      content: '.'; }

#charity-fact-container {
  position: absolute;
  bottom: 0px !important;
  right: 0px;
  left:0px;
  border-radius: 0 !important;
}

.czar-blank-container, .info-container {
  position: relative;
}

.card {
  margin-bottom: 0px !important;
}

.avatar-icon {
  width: 50px !important;
  height: 50px !important;
}

.normal-text {
  font-size: 120%;
}

#czar-container {
  position: absolute;
  top: 5px;
  right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  color: white;
}

#player-star {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.cfh-black {
  background-color: #000;
  opacity: 0.8;
}

.players-col {
  height: 600px;
  overflow: scroll;
}

.timer {
  /*border: 2px solid orange;*/
  box-shadow: none !important;
  background-color: rgba(255,255,255,0.1) !important;
  /*alpha: 0.5;*/
}

